@model Vehicle

<form method="post" action="/vehicles/@Model.Id">
    <label for="make"><strong>Make</strong> </label>
    <input type="text" id="make" name="make" value="@Model.Make"/>

    <label for="model"><strong>Model</strong> </label>
    <input type="text" id="model" name="model" value="@Model.Model"/>

    <label for="color"><strong>Color</strong> </label>
    <input type="text" id="color" name="color" value="@Model.Color"/>

    <label for="year"><strong>Year</strong></label>
    <input type="number" id="year" name="year" value="@Model.Year"/>

    <button type="submit"><strong>Confirm Changes</strong></button>
</form>
