@model Vehicle

<form method="post" action="/vehicles">
    <label for="make"><strong>Make</strong> </label>
    <input type="text" id="make" name="make" />

    <label for="model"><strong>Model</strong> </label>
    <input type="text" id="model" name="model" />

    <label for="color"><strong>Color</strong> </label>
    <input type="text" id="color" name="color" />

    <label for="year"><strong>Year</strong></label>
    <input type="number" id="year" name="year" />

    <button type="submit"><strong>Create Vehicle</strong></button>
</form>
